body {
    background-color: #0b1536;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #adf30a;
    text-align: center;
    font-size: 48px;
}

h2{
    color: #adf30a;
    text-align: center;
    font-size: 28px;
}

h3{
    background-color: rgb(71, 69, 69);
    color: white;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.parent {
    text-align: center;
}

.parent > ul{
    display: inline-block
}

nav{
    background-color: rgb(41, 39, 38);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    text-align: center;
}

nav a{
    padding: 15px 20px;
    text-decoration: none;
    float: left;
    display: block;
    color: rgb(173, 167, 167);
    width: 100%;
    top: 0;
    z-index: 1000;
    position: relative;
    text-align: center;
}

nav a:hover{
    color: white;
}

div{
    background-color: #1e3d80;
    border-radius: 1px;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

.image-container{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid black;
    background-color: aliceblue;
}

a{
    color: white;
}

a:visited{
    color:rgb(173, 167, 167);
}

.dual-container{
    background-color: #1e3d80;
    border: 0px;
    display:flex;
    flex-direction: column;
}

.image-container{
    background-color: #1e3d80;
    border: 0px;
}

.text{
    background-color: #1e3d80;
    border: 5px solid black;
}

.container{
    background-color: rgb(41, 39, 38);
    border: 0px;
}

.image{
    max-width: 100%;
    border: 0px;
}

p{
    text-indent: 40px;
}
