body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    justify-content: left;
    align-items: left;
    padding-left: 10px;
    color: #010101;
    padding: 20px;
    grid-template-columns: 1fr 200px;
    min-height: 100vh;
    text-align: left;
}

h1{
    color: #142f70;
    text-align: left;
    font-size: 56px;
}

h2{
    color: #142f70;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

h3{
    color: #010101;
    text-align: left;
    padding-top: 10px
}

nav{
    height: 100%;
    width: 600px;
    position: fixed;
    z-index: 1;
    background-color: #f4f1eb;
    padding-top: 20px;
    right: 0;
    top: 0;
    box-shadow: 5px 10px #888888;
}

nav a{
    padding: 8px 8px 8px 32px;
    font-size: 20;
    display: block;
    border-bottom: 1px solid #010101;
    text-decoration: none;
}

nav a:hover{
    color: #3498db;
}


div{
    background-color: #8f8888;
    border-radius: 15px;
    margin: 10px;
    display: inline-block;
    max-width: 60%;
    text-align: left;
    padding: 10px;
}

.image-container{
    background-color: antiquewhite;
}

.dual-container{
    display: flex;
    align-items: center;
}

.text{
    flex:1;
    padding: 20px;
}

.image{
    max-width:50%;
    height: auto;
}

.container{
    background-color: #f4f1eb;
}

/*a{
    display: inline-block;
    background-color: #329fc0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

a:hover{
    box-shadow: 0px 0px 4px 1px grey;
}*/

p{
    text-indent: 40px;
}